service: serverless-ci-cd

plugins:
  - serverless-s3-sync

custom:
  stage: ${opt:stage, 'dev'}
  bucketName: ${self:custom.stage}-${self:service}
  s3Sync:
    - bucketName: ${self:custom.bucketName}
      localDir: dist

provider:
  name: aws
  runtime: nodejs6.10
  tracing: true
  stage: ${self:custom.stage}

resources:
  Resources:
    StaticSite:
      Type: AWS::S3::Bucket
      Properties:
        AccessControl: PublicRead
        BucketName: ${self:custom.bucketName}
        WebsiteConfiguration:
          IndexDocument: index.html
          ErrorDocument: index.html
    StaticSiteS3BucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket:
          Ref: StaticSite
        PolicyDocument:
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: "*"
              Action:
                - s3:GetObject
              Resource:
                Fn::Join: [
                  "", [
                  "arn:aws:s3:::",
                  {
                    "Ref": "StaticSite"
                  },
                  "/*"
                ]
                ]